<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">

    <!-- TODO: 实现insert方法 -->

    <!-- TODO: 实现update方法 -->

    <!-- TODO: 实现pageQuery方法 -->

    <!-- 动态条件查询套餐（用户端使用，不要删除） -->
    <select id="list" parameterType="Setmeal" resultType="Setmeal">
        select * from setmeal
        <where>
            <if test="name != null"> and name like concat('%',#{name},'%') </if>
            <if test="categoryId != null"> and category_id = #{categoryId} </if>
            <if test="status != null"> and status = #{status} </if>
        </where>
    </select>

    <!-- 根据条件统计套餐数量（报表使用，不要删除） -->
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from setmeal
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

</mapper>
